#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.navbar {
    display: flex; 
    direction: rtl; 
    background-color: #aed9e0; 
    height: 100px;
    width: 100%; 
}

.navbar a {
  color: #f2f2f2;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-decoration: none;
  text-align: center;
  vertical-align: center; 
  padding: 20px;
  font-size: 40px;
  font-weight: 800; 
  font-family: 'Quicksand', sans-serif;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
    display: flex; 
    direction: rtl; 
    background-color: #aed9e0; 
    height: 100px;
    width: 100%; 
}

.footer a {
  color: #fbfbfb;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-decoration: none;
  text-align: center;
  vertical-align: center; 
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

.index-box {
    display: flex; 
    width: 100%; 
    height: 1000px; 
    flex-wrap: wrap;
    flex-direction: row; 
}

.index-left {
    display: flex; 
    width: 50%; 
    height: 800px; 
    flex-wrap: wrap;
}

.index-right {
    display: flex; 
    width: 50%; 
    height: 800px; 
    flex-wrap: wrap;
    flex-direction: row;
}

.index-intro {
    display: flex; 
    width: 100%; 
    height: 800px; 
    background-color: #ffc857;
    flex-wrap: wrap; 
    flex-direction: column; 
}

.index-picture-box {
    display: flex;
    width: 100%; 
    height: 450px; 
    justify-content: center; 
    align-items: center; 
}

.index-picture {
    width: 50%;
    height: auto;
    border:10px solid #fbfbfb;
    border-radius: 50%;
    padding: 10px; 
}

.index-paragraph {
    width: 100%; 
    height: 350px;
    text-align: center; 
}

p.paragraph-text {
    font-size: 30px; 
    color: #000; 
    font-family: 'Judson', serif;
    padding-left: 40px;    
    padding-right: 40px;
}

.index-welcome {
    display: flex; 
    text-align: center;
    justify-content: center; 
    width: 100%; 
    height: 300px; 
    background-color: #fbfbfb;
    position: relative;
    z-index: 10;
}

p.nametag {
    font-size: 60px; 
    text-align: center; 
    vertical-align: center;
    color: #FFA69E; 
    font-family: 'Judson', serif;
    border-radius: 25px;
    border: 5px solid #b8f2e6;
    padding: 10px; 
}

.index-timeline-container {
    display: flex; 
    text-align: center; 
    justify-content: center; 
    width: 100%; 
    height: 500px; 
    background-color: #FFA69E;
    flex-direction: column; 
}

.index-arrow-container {
    display: flex; 
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 75px; 
}

.index-arrow {
    background-color: Transparent;
    border: none;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    cursor:pointer;
    color: #fbfbfb;
    font-size: 50px;  
}

.index-arrow:hover {
    color: #b8f2e6;
}

.index-main-event-container {
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 150px; 
}

.index-main-date {
    font-size: 25px; 
    color: #b8f2e6; 
    text-shadow: 1px 0 0 #fbfbfb, 0 -1px 0 #fbfbfb, 0 1px 0 #fbfbfb, -1px 0 0 #fbfbfb;
    font-family: 'Quicksand', sans-serif;
}

.index-main-event {
    font-size: 30px; 
    font-weight: 800;
    color: #fbfbfb; 
    padding-left: 35px;
    padding-right: 35px; 
    font-family: 'Quicksand', sans-serif;
}

.index-event-container {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100px; 
    font-size: 25px; 
    color: #ddd; 
    font-family: 'Quicksand', sans-serif;
}

h1.index-white {
    font-size: 40px; 
    color: #fbfbfb; 
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Quicksand', sans-serif; 
}

.projects-box {
    display: flex; 
    width: 100%; 
    height: 1700px; 
    flex-direction: column; 
}

.projects-left-align {
    display: flex; 
    width: 100%; 
    height: 500px; 
    flex-wrap: wrap;
    background-color: #FFA69E;
}

.projects-right-align {
    display: flex; 
    direction: rtl; 
    width: 100%; 
    height: 500px; 
    flex-wrap: wrap;
    background-color: #ffc857;
}

.projects-white-box {
    display: flex;
    width: 75%; 
    height: 500px; 
    background-color: #fbfbfb; 
}

.projects-teal-box {
    display: flex; 
    width: 75%; 
    height: 500px; 
    background-color: #b8f2e6; 
}

.projects-left {
    display: flex; 
    width: 65%; 
    height: 500px; 
    text-align: center;
    justify-content: center; 
    flex-direction: column;
}

.projects-right { 
    display: flex; 
    width: 35%; 
    height: 500px; 
    justify-content: center; 
    align-items: center; 
    flex-direction: center;
}

.projects-picture {
    width: 50%;
    height: auto;
    border:10px solid #ffc857;
    padding: 10px; 
}

p.projects-white {
    font-size: 25px; 
    color: #000; 
    font-family: 'Judson', serif;
    padding: 20px; 
}

p.projects-teal {
    font-size: 25px; 
    color: #000; 
    font-family: 'Judson', serif;
    padding: 20px; 
}

h1.projects-white {
    font-size: 75px; 
    color: #FFA69E; 
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Quicksand', sans-serif;
}

h1.projects-teal {
    font-size: 75px; 
    color: #fbfbfb; 
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Quicksand', sans-serif; 
}

h2.projects-white {
    font-size: 25px; 
    color: #000; 
    font-family: 'Quicksand', sans-serif;
}

h2.projects-teal {
    font-size: 25px; 
    color: #000; 
    font-family: 'Quicksand', sans-serif;
}